.ValidPurchaseScreen {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;

	color: var(--colorTextoAmarillo);
	background-color: var(--colorFondoVioletaOscuro);
	z-index: 1001;
	position: absolute;
	top: 0px;
}

.ValidPurchaseScreenId {
	font-size: 25px;
	font-weight: bold;
}

.ValidPurchaseScreenHome {
	width: 100px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	font-weight: bold;
	color: var(--colorTextoAmarillo);
	background-color: var(--colorIconosVioleta);
}

.fa-copy {
	font-size: 30px;
	cursor: pointer;
	transition: 1s;
}

.fa-copy:hover {
	transform: scale(0.9);
	transition: 0.4s;
}

.fa-copy:checked {
	color: var(--colorIconosVioleta);
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: var(--colorIconosVioleta);
	color: var(--colorTextoAmarillo);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	margin-left: 30px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent var(--colorIconosVioleta) transparent transparent;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
