.productCardFavorite {
	position: absolute;

	width: auto;

	height: auto;
	top: 0;
	right: 0;
	margin: 10px 10px 0 0;
}

.productCardFavorite:hover {
	color: var(--colorIconosVioleta);
	cursor: pointer;
}
