.itemDescriptionText {
	width: 100%;
	color: var(--colorTextoAmarillo);
	font-size: 25px;
	padding: 10px 40px 10px 40px;
	text-align: justify;
	border-top: 2px solid var(--colorFondoVioletaOscuro);
	border-bottom: 2px solid var(--colorFondoVioletaOscuro);
	font-weight: 500;
}
