.stock {
	position: absolute;
	padding: 5px;
	top: 5px;
	left: 5px;
	border-radius: 5px;
	background-color: var(--colorIconosVioleta);
	color: var(--colorTextoAmarillo);
	cursor: default;
}

.stockNumber {
	width: 25px;
	height: 25px;
	position: absolute;
	padding: 5px;
	top: 5px;
	left: 5px;
	background-color: var(--colorIconosVioleta);
	border-radius: 50%;
	display: flex;

	justify-content: center;
	align-items: center;
	cursor: default;
}

.effectStock {
	cursor: default;

	left: 15px;

	-webkit-animation: shake-horizontal 8.3s linear infinite both;
	animation: shake-horizontal 8.3s linear infinite both;
}

@-webkit-keyframes shake-horizontal {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}
@keyframes shake-horizontal {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}
