.lista {
	display: flex;
	flex-direction: row;

	gap: 20px;
	list-style: none;
}

.listaLink {
	text-decoration: none;
	letter-spacing: 1px;

	color: var(--colorTextoAmarillo);
	font-weight: bold;
}

.listaLink:hover {
	cursor: pointer;
	padding-bottom: 10px;
	border-bottom: 3px solid var(--colorTextoAmarillo);
	/* transition: 0.5s; */
}

@media screen and (max-width: 800px) {
	.lista {
		position: absolute;
		flex-direction: column;
		background-color: var(--colorFondoVioletaOscuro);
		top: 100px;
		left: -100%;

		width: 100%;
		height: 100vh;
		z-index: 88888;

		justify-content: first baseline;
		align-items: center;

		padding-top: 100px;
		transition: 0.8s;

		gap: 40px;
	}

	.listaHide {
		left: 0%;
		overflow: hidden;
	}
}
