.ItemOnCartContainerListProduct {
	width: 80%;
	height: 400px;
	background-color: green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ItemOnCartContainerListProductImg {
	width: 150px;
	height: 150px;
}

.ItemOnCartContainerListProductTitle {
	width: 100%;
	background-color: indianred;
}

.ItemOnCartContainerListProductCantidad {
	width: 70%;
	background-color: hotpink;
}

.ItemOnCartContainerListProductPrecio {
	width: 20%;
	background-color: lawngreen;
}
