.menuResponsiveIcon {
	margin-right: 30px;
	font-size: 25px;
	color: var(--colorTextoAmarillo);
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.menuResponsiveIcon {
		margin-top: 50px;
	}

	.navbarResponsive {
		display: flex;
	}
}
