@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: calc(100vw - (100vw - 100%));
}

.navbar {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.377);
}

.seccionLogo {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 60px;
  color: rgb(82, 218, 228);
}

.nombreLogo {
  color: yellow;
  cursor: default;
}

.lista {
  display: flex;
  flex-direction: row;

  gap: 20px;
  list-style: none;
}

.listaLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.iconoCarrito {
  font-size: 30px;
  color: blue;
}

.mensaje {
  margin-top: 400px;

  width: 100%;
  height: 100px;
  background-color: rgba(0, 128, 0, 0.507);

  display: flex;

  justify-content: center;
  align-items: center;

  cursor: default;
}
