@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
	--colorTextoAmarillo: hsl(43, 84%, 65%);
	--colorFondoVioletaOscuro: hsl(226, 43%, 10%);
	--colorIconosVioleta: hsl(264, 64%, 52%);
	--colorBlancoHover: rgb(255, 255, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	width: calc(100vw - (100vw - 100%));
}

.navbar {
	width: 100%;
	height: 100px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-items: center;

	background-color: var(--colorFondoVioletaOscuro);
	cursor: default;
}

.seccionLogo {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

.logo {
	font-size: 60px;
	color: var(--colorIconosVioleta);
	animation: rotacion 30s linear infinite;
}

.nombreLogo {
	color: var(--colorTextoAmarillo);
	cursor: default;
}

.lista {
	display: flex;
	flex-direction: row;

	gap: 20px;
	list-style: none;
}

.listaLink {
	text-decoration: none;
	letter-spacing: 1px;

	color: var(--colorTextoAmarillo);
	font-weight: bold;
}

.listaLink:hover {
	cursor: pointer;
	color: var(--colorBlancoHover);
	transition: 0.5s;
}

.carritoSeccion {
	display: flex;
	flex-direction: row;
	width: 100px;

	color: var(--colorTextoAmarillo);

	justify-content: space-between;
	align-items: center;

	position: relative;
}

.carritoPrecio {
	font-size: 20px;
	font-weight: bold;
}

.carritoUnidades {
	position: absolute;
	top: -17px;
	right: 8px;
	font-size: 20px;
	font-weight: bold;
}

.iconoCarrito {
	font-size: 35px;
	color: var(--colorIconosVioleta);
}

.iconoCarrito:hover {
	color: var(--colorBlancoHover);
	cursor: pointer;
}

.itemsContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	background-color: var(--colorFondoVioletaOscuro);
}

.productCard {
	position: relative;

	width: 280px;
	height: auto;

	margin: 20px;

	display: flex;
	flex-direction: column;

	align-items: flex-start;

	border: 1px solid var(--colorIconosVioleta);
	color: var(--colorTextoAmarillo);
}

.productCardFavorite {
	position: absolute;

	width: auto;

	height: auto;
	top: 0;
	right: 0;
	margin: 10px 10px 0 0;
}

.productCardFavorite:hover {
	color: var(--colorIconosVioleta);
	cursor: pointer;
}

.productCardImageContainer {
	width: 200px;
	height: 220px;

	display: flex;
	align-self: center;
	padding-top: 10px;
}

.productCardImage {
	width: 190px;
	height: 190px;
	padding-left: 5px;
}

.productCardTitle {
	width: 100%;
	height: 90px;

	font-size: 30px;

	padding-left: 5px;
	border-top: 0.5px solid var(--colorTextoAmarillo);
	border-bottom: 0.5px solid var(--colorTextoAmarillo);
}

.productCardPrice {
	padding-left: 5px;
	padding-top: 10px;
	border-bottom: 0.5px solid var(--colorIconosVioleta);
	font-weight: bold;
	font-size: 20px;
}

.productCardAmount {
	position: absolute;
	width: auto;
	bottom: 68px;
	right: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.productCardAmountArrow {
	cursor: pointer;
	margin: 5px;
}
.productCardAmountArrow:hover {
	color: var(--colorIconosVioleta);
}

.productCardAmountInput {
	width: 50px;
	height: 25px;
	text-align: center;
	border: none;
	background-color: var(--colorIconosVioleta);
	color: var(--colorTextoAmarillo);
	font-weight: bolder;
	font: 20px;
}

.productCardAmountBuy {
	font-size: 30px;
	padding: 0px 10px;
	cursor: pointer;
}
.productCardAmountBuy:hover {
	color: var(--colorIconosVioleta);
}

.productCardDescription {
	padding: 10px 0px 5px 5px;
	font-size: 12px;
}

@keyframes rotacion {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
