.carritoSeccion {
	display: flex;
	flex-direction: row;
	width: 100px;

	color: var(--colorTextoAmarillo);

	justify-content: space-between;
	align-items: center;

	position: relative;
}

@media screen and (max-width: 800px) {
	.carritoSeccion {
		margin-top: 60px;
		margin-right: 10px;
	}
}
