.navbarResponsive {
	width: 100%;
	height: 100px;

	display: none;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-between;
	align-items: center;

	background-color: var(--colorFondoVioletaOscuro);
	cursor: default;
}

@media screen and (max-width: 800px) {
	.navbarResponsive {
		display: flex;
	}

	.lista {
		z-index: 999;
	}

	.orders {
		margin-top: 40px;
	}

	.loaderContainer {
		top: 150px;
	}
}
