.ItemOnCartContainerFinalizarCompra {
	width: 30%;
	height: 600px;

	display: flex;
	flex-direction: column;

	justify-content: space-around;
	align-items: center;
	border: 1px solid var(--colorTextoAmarillo);
}

@media screen and (max-width: 800px) {
	.ItemOnCartContainerFinalizarCompra {
		width: 100%;
	}
}
